@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* Quick View */
body.quick-view-open {
  overflow: hidden;
}

body.quick-view-open main,
body.quick-view-open #__next {
  transform: scale(0.985);
  transition: transform 0.35s ease;
}

/*
a {
  color: inherit;
}

button {
  cursor: pointer;
}
*/

/* ------------------------------ */
/* Product Gallery Animation */
/* ------------------------------ */

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(18px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ------------------------------ */
/* Hero Animations */
/* ------------------------------ */

@keyframes heroZoom {
  from {
    transform: scale(1.05);
  }

  to {
    transform: scale(1.12);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}